<div class="social">
  <span class="contacticon center">
    <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>
    {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
    {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>{% endif %}
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
