---
layout: page
---

{% if page.profile %}
  <div class="profile col one left card">
    {% if page.profile.img %}
      <img class="one" src="{{ page.profile.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% elsif page.img %}
      <img class="one" src="{{ page.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    {% if page.profile.office %}
      <div class="address">
        {{ page.profile.office }}
      </div>
    {% endif %}
    <ul>
    {% if page.profile.cv %}
      <div class="link">
        <li><a href="{{ page.profile.cv }}" target="_blank">CV</a></li>
      </div>
    {% endif %}
    {% if page.profile.website %}
      <div class="link">
        <li><a href="{{ page.profile.website }}" target="_blank">Personal site</a></li>
      </div>
    {% endif %}
    </ul>
  </div>
{% endif %}

{{ content }}
